@font-face {
  font-family: "font-1";
  src: url(./assets/klarissa.regular.ttf);
}

@font-face {
  font-family: "font-2";
  src: url(./assets/montserrat-light.ttf);
}

* {
  font-family: "font-2";
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  scroll-behavior: auto;
}

*::selection {
  background-color: rgba(195, 64, 20, 0.767);
}

header {
  height: 150vh;
  width: auto;
  background: url(./assets/coffee-background.jpg) fixed no-repeat;
  background-size: cover;
}

.top-page {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
  width: 97%;
  padding-left: 30px;
  padding-top: 20px;
  padding-right: 30px;
  position: fixed;
}

#logo-coffee {
  height: 9vh;
  width: auto;
}

nav {
  list-style-type: none;
  height: 60px;
  width: 1200px;
  background: rgba(195, 64, 20, 0.767);
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
}

li {
  font-family: "font-2";
  font-size: 26px;
  font-weight: bold;
  color: whitesmoke;
}

a {
  text-decoration: none;
  color: whitesmoke;
}

#btn-compte-panier {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
  height: 60px;
  width: 125px;
}

#user {
  height: 50px;
  width: 50px;
}

#panier {
  height: 50px;
  width: 50px;
}

h1 {
  font-family: "font-1";
  font-size: 52px;
  text-align: center;
  padding-top: 15vh;
  color: whitesmoke;
  letter-spacing: 7px;
}

p {
  font-size: 24px;
  color: whitesmoke;
  line-height: 40px;
  text-align: left;
  height: 200px;
  width: 650px;
  padding-top: 450px;
  padding-left: 100px;
}

.eshop {
  background: url(./assets/eshop.jpg) fixed;
  background-size: cover;
  height: 100vh;
}

#texte-eshop {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
  height: 100vh;
  width: 600px;
  padding-left: 50px;
}

h2 {
  font-size: 24px;
  color: whitesmoke;
  line-height: 40px;
  text-align: left;
}

.coffeeshop {
  background: url(./assets/coffeeshop.jpg) fixed no-repeat;
  background-size: cover;
  height: 100vh;
}

#coffeeshop-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-end;
  align-content: stretch;
  height: 100vh;
  padding-right: 100px;
}

h3 {
  font-size: 24px;
  color: whitesmoke;
  line-height: 40px;
  text-align: left;
  height: 200px;
  width: 35%;
  padding-top: 30vh;
}

#carte-france {
  height: 30vh;
  padding-bottom: 10vh;
  padding-right: 10%;
}

footer {
  padding-top: 20px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 20px;
}

#logo-bottom {
  height: 50px;
  width: 50px;
}

.mentions {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

h4 {
  font-size: 14px;
}

h5 {
  font-family: "font-1";
  font-size: 18px;
  padding-right: 40%;
}

input[type="image"]:hover {
  transform: scale(110%);
  filter: brightness(120%);
}

a:hover {
  transform: scale(115%);
  filter: brightness(120%);
}

li:hover {
  transform: scale(115%);
}

h1::after {
  content: "";
  position: absolute;
  background-color: whitesmoke;
  height: 2px;
  width: 30%;
  left: 50%;
  top: 25vh;
  transform: translateX(-50%) scaleX(0);
  animation: h1anim 5s ease-in-out forwards;
  transform-origin: center;
}

@keyframes h1anim {
  to {
    transform: translateX(-50%) scaleX(1);
  }
}

/*Responsive !!! */

@media (max-width: 320px) {
}

@media (min-width: 321px) and (max-width: 480px) {
  header {
    background-position: 80% 0%;
    background-attachment: scroll;
    background-size: 175vh;
    height: 100vh;
  }
  .top-page {
    padding-left: 5px;
    padding-right: 5px;
    z-index: 1000;
  }
  #logo-coffee {
    height: 30px;
    width: 30px;
  }
  nav {
    height: 40px;
  }
  a {
    font-size: 12px;
  }
  li {
    padding-bottom: 1vh;
  }
  #btn-compte-panier {
    padding-left: 10px;
  }
  #user {
    height: 25px;
    width: 25px;
  }
  #panier {
    height: 25px;
    width: 25px;
  }
  p {
    width: 90%;
    padding-left: 0;
    padding-top: 0;
    margin-top: 40vh;
    margin-left: 5%;
    background-color: #192026c2;
    border-radius: 10px;
    height: auto;
    text-align: center;
    font-size: 16px;
    line-height: 30px;
  }
  .eshop {
    background-position: 40% 0%;
    background-attachment: scroll;
  }
  #texte-eshop {
    width: auto;
    padding-left: 0;
  }
  h2 {
    width: 90%;
    background-color: #192026c2;
    border-radius: 10px;
    height: auto;
    text-align: center;
    font-size: 16px;
    line-height: 30px;
  }
  .coffeeshop {
    background-position: 60% 0%;
    background-attachment: scroll;
  }
  h3 {
    width: 85%;
    border-radius: 10px;
    height: auto;
    text-align: center;
    padding-top: 0;
    margin-top: 20vh;
    font-size: 16px;
    line-height: 30px;
    transform: translateX(30%) translateY(35vh);
    z-index: 0;
  }
  #carte-france {
    padding-right: 0;
    padding-bottom: 0;
    height: 20vh;
    visibility: hidden;
  }
  footer {
    padding-left: 5px;
    padding-right: 5px;
  }
  #logo-bottom {
    height: 15px;
    width: 15px;
  }
  h5 {
    padding-right: 30px;
    font-size: 14px;
  }
  h4 {
    font-size: 10px;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  header {
    background-position: 87% 0%;
    background-attachment: scroll;
  }
  .top-page {
    padding-left: 5px;
    padding-right: 5px;
    z-index: 1000;
  }
  #logo-coffee {
    height: 50px;
    width: 50px;
  }
  a {
    font-size: 14px;
  }
  li {
    padding-bottom: 1vh;
  }
  #btn-compte-panier {
    padding-left: 10px;
  }
  #user {
    height: 40px;
    width: 40px;
  }
  #panier {
    height: 40px;
    width: 40px;
  }
  p {
    width: 90%;
    padding-left: 0;
    padding-top: 0;
    margin-top: 40vh;
    margin-left: 5%;
    background-color: #192026c2;
    border-radius: 10px;
    height: auto;
    text-align: center;
  }
  .eshop {
    background-position: 40% 0%;
    background-attachment: scroll;
  }
  #texte-eshop {
    width: auto;
    padding-left: 0;
  }
  h2 {
    width: 90%;
    background-color: #192026c2;
    border-radius: 10px;
    height: auto;
    text-align: center;
    font-size: 20px;
  }
  .coffeeshop {
    background-position: 75% 0%;
    background-attachment: scroll;
  }
  h3 {
    width: 55%;
    border-radius: 10px;
    height: auto;
    text-align: center;
    padding-top: 0;
    margin-top: 20vh;
    font-size: 20px;
    transform: translateX(25%);
    z-index: 0;
  }
  #carte-france {
    padding-right: 0;
    padding-bottom: 0;
    height: 20vh;
  }
  footer {
    padding-left: 5px;
    padding-right: 5px;
  }
  h5 {
    padding-right: 30px;
  }
  h4 {
    font-size: 10px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  header {
    background-position: center;
    background-attachment: scroll;
  }
  .top-page {
    padding-left: 5px;
    padding-right: 5px;
  }
  a {
    font-size: 18px;
  }
  #btn-compte-panier {
    padding-left: 10px;
  }
  p {
    width: 45%;
    transform: translateX(-10%);
  }
  .eshop {
    background-position: 40% 0%;
    background-attachment: scroll;
  }
  h2 {
    width: 70%;
    padding-right: 20%;
  }
  .coffeeshop {
    background-position: right;
    background-attachment: scroll;
  }
  h3 {
    font-size: 22px;
    line-height: 30px;
    width: 300px;
  }
  footer {
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media (min-width: 1024px) and (max-width: 1440px) {
  header {
    background-attachment: scroll;
  }
  p {
    width: 45%;
  }
  h2 {
    width: 70%;
    padding-right: 20%;
  }
  .eshop {
    background-attachment: scroll;
  }
  .coffeeshop {
    background-position: right;
    background-attachment: scroll;
  }
}

@media (min-width: 1024px) and (max-width: 1313px) {
  h3 {
    font-size: 22px;
    line-height: 30px;
  }
  footer {
    padding-left: 5px;
    padding-right: 5px;
  }
  .coffeeshop {
    background-position: right;
  }
}

@media (min-width: 1441px) and (max-width: 1760px) {
  h2 {
    width: 80%;
    padding-right: 20%;
  }
}
